@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");
/* ==================================================================

*   Ceevee Media Queries
*   url: styleshout.com
*   03-18-2014

/* ================================================================== */


/* screenwidth less than 1024px
--------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {

   /* header styles
   ------------------------------------------------------------------ */
   header .banner-text h1 {
      font: 10px;
      font-weight: bold;
      letter-spacing: 4px;
      margin: 0 auto 18px auto;
      color: #4d4594;
      text-shadow: 0px 1px 2px #694280;
   }

   
   /* About Section
   -------------------------------------------------------------------- */

   #about {
      background: #babaff;
      padding: 100px 50px 50px 50px;
      overflow: hidden;
   }

   #about .text {
      text-align: left;
   }

}

/* screenwidth less than 900px
--------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {

   /* header styles
   ------------------------------------------------------------------ */
   header .banner {
      padding-bottom: 12px;
   }

   header .banner-text h1 {
      font: 10px;
      font-weight: bold;
      letter-spacing: 4px;
      margin: 0 auto 18px auto;
      color: #4d4594;
      text-shadow: 0px 1px 2px #694280;
   }

   header .banner-text h3 {
      font: 17px/1.9em 'nunito sans';
      width: 80%;
   }

   header .banner-text hr {
      width: 65%;
      margin: 12px auto;
   }

   /* nav-wrap */
   #nav-wrap {
      font: 14px 'nunito sans';
      letter-spacing: 1.5px;
   }
   #nav-wrap h2 {
      font: 20px 'nunito sans';
      letter-spacing: 1.5px;
   }


   /* About Section
   -------------------------------------------------------------------- */

   #about {
      background: #babaff;
      padding: 100px 50px 50px 50px;
      overflow: hidden;
   }

   #about .text {
      text-align: left;
      width: 100%;
   }

   /* Resume Section
   ------------------------------------------------------------------- */
   #resume h1 {
      font: 16px/24px 'opensans-bold', sans-serif;
   }

   #resume .main-col {
      padding-right: 5%;
   }

   /* Testimonials Section
   ------------------------------------------------------------------- */
   #testimonials .header-col h1:before {
      font-size: 66px;
      line-height: 66px;
   }

   #testimonials blockquote p {
      font-size: 22px;
      line-height: 46px;
   }

   /* Call to Action Section
   ------------------------------------------------------------------- */
   #call-to-action .header-col h1:before {
      font-size: 66px;
      line-height: 66px;
   }

}

/* mobile wide/smaller tablets
---------------------------------------------------------------------- */

@media only screen and (max-width: 767px) {



   /* Header Styles
   -------------------------------------------------------------------- */
   header .banner {
      padding-bottom: 12px;
      padding-top: 6px;
   }

   header .banner-text h1 {
      font: 10px;
      font-weight: bold;
      letter-spacing: 4px;
      margin: 0 auto 18px auto;
      color: #4d4594;
      text-shadow: 0px 1px 2px #694280;
   }

   header .banner-text h3 {
      font: 16px/1.9em 'nunito sans';
      width: 85%;
   }

   header .banner-text hr {
      width: 80%;
      margin: 18px auto;
   }

   /* header social links */
   header .social {
      margin: 18px 0 24px 0;
      font-size: 24px;
      line-height: 36px;
   }

   header .social li {
      margin: 0 10px;
   }

   /* scrolldown link */
   header .scrolldown {
      display: none;
   }


   /* About Section
   -------------------------------------------------------------------- */

   #about {
      background: #babaff;
      padding: 100px 50px 50px 50px;
      overflow: hidden;
   }

   #about .text {
      text-align: left;
      width: 100%;
   }


   /* Resume Section
   --------------------------------------------------------------------- */
   #resume .header-col {
      padding-top: 0;
      margin-bottom: 48px;
      text-align: center;
   }

   #resume h1 {
      letter-spacing: 3px;
   }

   #resume .main-col {
      padding-right: 30px;
   }

   #resume h3,
   #resume .info {
      text-align: center;
   }

   .bars {
      width: 100%;
   }


   /* Call To Action Section
   /* ----------------------------------------------------------------- */
   #call-to-action {
      text-align: center;
   }

   #call-to-action h1 {
      font: 16px/24px 'opensans-bold', sans-serif;
      text-align: center;
      margin-bottom: 30px;
      text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
   }

   #call-to-action h1 span {
      display: block;
   }

   #call-to-action .header-col h1:before {
      content: none;
   }

   #call-to-action p {
      font-size: 15px;
   }


   /* Portfolio Section
   /* ----------------------------------------------------------------- */
   #portfolio-wrapper .columns {
      margin-bottom: 40px;
   }

   .popup-modal {
      max-width: 85%;
   }


   /* Testimonials Section
   ----------------------------------------------------------------------- */
   #testimonials .text-container {
      text-align: center;
   }

   #testimonials h1 {
      font: 16px/24px 'opensans-bold', sans-serif;
      text-align: center;
      margin-bottom: 30px;
      text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
   }

   #testimonials h1 span {
      display: block;
   }

   #testimonials .header-col h1:before {
      content: none;
   }

   #testimonials blockquote {
      padding-bottom: 24px;
   }

   #testimonials blockquote p {
      font-size: 20px;
      line-height: 42px;
   }

   /* Control Nav */
   .flex-control-nav {
      text-align: center;
      margin-left: -30px;
   }




   /* footer
   ------------------------------------------------------------------------ */

   /* copyright */
   footer .copyright li:before {
      content: none;
   }

   footer .copyright li {
      margin-right: 12px;
   }

   /* social links */
   footer .social-links {
      font-size: 22px;
   }

   footer .social-links li {
      margin-left: 18px;
   }

   /* Go To Top Button */
   #go-top {
      margin-left: -22px;
   }

   #go-top a {
      width: 54px;
      height: 54px;
      font-size: 18px;
      line-height: 54px;
   }


}

/* mobile narrow
  -------------------------------------------------------------------------- */

@media only screen and (max-width: 480px) {


   /* header styles
   -------------------------------------------------------------------- */
   header .banner {
      padding-top: 24px;
   }

   header .banner-text h1 {
      font: 40px/1.1em 'opensans-bold', sans-serif;
      margin: 0 auto 24px auto;
   }

   header .banner-text h3 {
      font: 14px/1.9em 'nunito sans';
      width: 90%;
   }

   /* header social links */
   header .social {
      font-size: 20px;
   }

   header .social li {
      margin: 0 6px;
   }

   
   /* About Section
   -------------------------------------------------------------------- */

   #about {
      background: #babaff;
      padding: 100px 50px 50px 50px;
      overflow: hidden;
   }

   #about .text {
      text-align: left;
      width: 100%;
   }

   /* footer
   ------------------------------------------------------------------------ */

   /* social links */
   footer .social-links {
      font-size: 20px;
   }

   footer .social-links li {
      margin-left: 14px;
   }

}